* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 1.6rem;
    background: #fff;
    border-bottom: 1px solid #d2dbe5;
}

/* Header Logo */
.header__logo {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 800;
    color: #5648e4;
}

.header__logo--text {
    font-size: 2rem;
}

/* Header Search */
.header__search {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background: #f8fafc;
    border: 1px solid #d2dbe5;
    border-radius: 10rem;
    color: #94a3b7;
}

.header__search--icon {
    font-size: 2rem;
}

.header__search--input {
    display: block;
    border: none;
    background: inherit;
    font-size: 1.4rem;
    width: 50rem;
}

.header__search--input:focus {
    outline: none;
}

/* Header Cart */
.header__cart {
    font-size: 2.4rem;
    color: #94a3b7;
    position: relative;
    z-index: 1;
    margin-right: 1rem;
}

.header__cart-count {
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: red;
    color: #fff;
    border-radius: 999px;
    font-size: 1.4rem;
    font-weight: 600;
}

/* ================================================ */

/* Main */
.main-layout {
    background: #f8fafc;
    display: flex;
    gap: 4rem;
    padding: 4rem;
    align-items: flex-start;
}

/* Sidebar */
.sidebar {
    flex-shrink: 0;
    width: 28rem;
}

.category-panel {
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0px 3px 5px -4px #b5b5b5;
    padding: 2rem;
}

/* Category */
/* Category Header */
.category-panel__header {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid #d2dbe5;
}

.category-panel__header--icon {
    color: #707d93;
    display: block;
}

.category-panel__header--text {
    display: block;
}

/* Category List */
.category-list {
    padding-top: 1rem;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #6d7887;
    border-radius: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}

.category-item:hover {
    background: #edf2ff;
}

.category-item.active {
    color: #5648e4;
    background: #edf2ff;
}

.category-item__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: #f1f5f9;
    border-radius: 999px;
    font-size: 1.4rem;
}

/* Product Section */
.product-section {
    flex: 1;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: calc((100% - 8rem) / 5);
    border-radius: 2rem;
    background: #fff;
    box-shadow: 0px 3px 5px -4px #b5b5b5;
    padding: 2rem 0;
    position: relative;
    z-index: 1;
}

.product-card__image-wrapper {
    aspect-ratio: 4 / 5;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.product-card__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.product-card__category {
    padding: 0.4rem 0.8rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    font-size: 1.2rem;
    font-weight: 600;
    color: #6d7887;
    text-transform: capitalize;
}

.product-card__title {
    padding: 1.6rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-top: 1px solid #eef0f3;
    flex: 1;
}

.product-card__rating {
    display: flex;
    gap: 0.4rem;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    border-bottom: 1px solid #eef0f3;
}

.product-card__star {
    color: #fbbe29;
}

.product-card__rate {
    font-weight: 600;
}

.product-card__count {
    color: #6d7887;
}

.product-card__footer {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.product-card__price {
    font-size: 1.6rem;
    font-weight: 800;
    color: #5648e4;
}

.product-card__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0 0.8rem;
    background: black;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #e3e4e6;
    border: none;
}

.product-card__cart-btn:hover {
    background: #5648e4;
    cursor: pointer;
}
