.sidebar-banner {
    display: flex;

    flex-direction: column;

    gap: 16px;
}

.banner-item {
    width: 100%;

    border-radius: 16px;

    overflow: hidden;

    background: #fff;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    cursor: pointer;

    transition: 0.25s;
}

.banner-item:hover {
    transform: translateY(-3px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.banner-item img {
    width: 100%;

    display: block;
}
