.product-list {
    display: flex;

    flex-wrap: wrap;

    gap: 16px;
}

.product-card {
    width: calc((100% - 48px) / 4);
}

@media (max-width: 1200px) {
    .product-card {
        width: calc((100% - 32px) / 3);
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc((100% - 16px) / 2);
    }
}

@media (max-width: 500px) {
    .product-card {
        width: 100%;
    }
}
